@import "../src/components/workouts/workoutCard.css";
@import "../src/components/races/raceFrom.css";
@import "../src/components/nav/nav.css";
@import "../src/components/races/raceInfo.css";
@import "../src//components/workouts/workoutList.css";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
